h1{color:rgb(255, 102, 0);
        font-size: 80px;
        
        }
        h2{color:rgb(64, 0, 255);
        font-size: 80px;
        
        }
        h2{ color: rgb(50, 0, 212);
            font-size: 50px;
            font-family:"BBH Sans Bartle", sans-serif;
        
        }
        

        body{
            background-color: aquamarine;
        
        
        }
        