@font-face {
    font-family:'BebasNeue' ;
    src: url(../font/BebasNeue-webfont.woff) format('woff');
}

body {
    font: 18px/ 'BebasNeu' , 'Arial Narrow' , Arial, sans-serif;
   background-image: url("../img/full/download.jpeg");
}

h1{
    font-size: 80px ;
    color: #fffb04;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.727);
}

.container {
    width: 600px;
    background-image:  url(BKChose.jpg);
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 0px 0px white(0,0,0,.3);
    border-radius: 15px;
    border: 5px solid rgb(242, 255, 0);
}

.gallery li {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid rgb(255, 242, 0);
    float: left;
    margin-right:20px ;
    position: relative;
}

.gallery li,
.gallerry li img,
.gallery li span {
    border-radius: 50%;
}

.gallery li span{
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #000000;
    opacity: 0;
    transform:scale(0) rotate(0) ;
    transition: .3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}


/* /overlay/ */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

.overlay:target img {
    animation: zoomDanFade 1s;
}

.overlay .close {
    position: absolute;
    top: 10%;
    left: 49%;
    margin-left: -20px;
    color: aliceblue;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}

/* znjnz */
@keyframes zoomDanFade {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}